<html>
<head>
<title>Projects</title>
    <link rel="stylesheet" href="css/style2.css">
  </head>
<h1>Add New Contact</h1>
<form action="/bizcontact/add" method="POST">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="number">Number:</label>
    <input type="text" id="number" name="number" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  </div>
  <button type="submit">Add Contact</button>
</form>
</html>



