<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="css/style1.css">
    <!--File Name: WebApp Assignment1
        Student Name: Ka Wah Lau
        Student ID: 301255100
        Date: 25-May-2023-->
  </head>
  <body>
    
    <%- include('partials/header') %>

    
  <h1>My Personal Portfolio</h1>
  <p>Welcome to my Portfolio, this is the prototype work and will be optimized from time to time.
     The reasons of building this Portfolio are:</p>
  <ul>
  <li>To empower businesses through innovative software solutions. 
    I am dedicated to crafting scalable and user-friendly applications that streamline processes and drive efficiency.
     By combining my technical expertise with a customer-centric approach, I aim to help organizations thrive in the digital age.</li>
  <li>To design inclusive and accessible digital experiences.
     I am committed to designing websites and applications that are user-friendly for all individuals,
      regardless of their abilities. My mission is to bridge the gap between technology and inclusivity by creating intuitive interfaces
       and promoting digital accessibility best practices."
    </li>
  
  <%- include('partials/footer') %>
  </body>
  </html>
  