<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <link rel="stylesheet" href="css/style1.css">
    <!--File Name: WebApp Assignment1
        Student Name: Ka Wah Lau
        Student ID: 301255100
        Date: 25-May-2023-->
  </head>
  <body>
    <%- include('partials/header') %>

    
  <h1>Projects</h1>
  <p>This is my personal portfolio page. I use it to showcase my skills and experience in web development.</p>
  <p>Here are some of the projects I am working on:</p>
  <ol>
  <li>A mobile app for indoor navigation</li>
  <img src="images/inmaps.jpeg">
  
  <br>
  
  <li>A mobile app for small money transfer amount friends</li>
  <img src="images/payeasy.jpeg">

  <br>
  
  <li>A web site for online electronic grocery </li>
  <img src="images/electronics.jpeg">
  </ul>
  
  <%- include('partials/footer') %>
  </body>
  </html>
  