<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="css/style1.css">
    <!--File Name: WebApp Assignment1
        Student Name: Ka Wah Lau
        Student ID: 301255100
        Date: 25-May-2023-->
  </head>
  <body>
    
    <%- include('partials/header') %>

    
  <h1>Services</h1>
  <p>Currently I am studying web aplication and I will be able to provide web design and writing simple application services.
</p>
  <ul>
  <li>Simple fraction calculator</li>
  <img src="images/calculator.png" width="1200px" height="800px"></li>
  </ul>
  <br>
  <ul>
  <li>Online questionaire
    <img src="images/questionaire.jpeg" width="1200px" height="800px"></li>
</ul>
  <%- include('partials/footer') %>
  </body>
  </html>
  