/*
        File Name: WebApp Assignment1
        Student Name: Ka Wah Lau
        Student ID: 301255100
        Date: 25-May-2023
*/
body{
    border: 1px solid black;
    margin: 25px 50px 75px 100px;
    background-color:aquamarine
}
#logo{width:200px;
    height:200px;

}